$primary-color: #fb6f2de7;

@mixin padding($padding){
    padding: $padding;
}

@mixin font-size($font){
    font-size: $font;
}

@mixin width($width){
    width: $width;
}

@mixin margin($margin){
    margin: $margin;
}

@mixin border-radius($radius: 30px) {
    border-radius: $radius;
}

/*Página contacto*/

.tituloContacto{
    @include padding(20px);
    padding-top: 300px;
    margin-top: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    @include font-size(40px);
    text-transform:none;
    font-weight: bold;
}




/*Contenedor*/

.contenedorContactoprimero{
 background-color: $primary-color;
 @include padding(20px);
 @include border-radius;
 @include margin(30px);
 margin-bottom: 100px;
 margin-top: 100px;
}

.contenedorContacto{
    background-color: #ffffff;
    @include padding(10px);
    @include border-radius;
}

/*Interior contenedor*/

.contactanosTitulo{
    color: #121212;
    @include font-size(35px);
    text-align: center;
    font-weight: bold;
}

form {
    display: flex;
    flex-wrap: wrap;             
    gap: 20px;         
    margin-top: 30px;           
    margin-left: 15px;
    margin-right: 15px;
}

.rellenarTexto {
    display: flex;
    flex-direction: column;     
    @include width(100%);

}

label {
    @include font-size(16px);
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

input, textarea {
    @include padding(10px);
    border: 1px solid #ccc;
    @include border-radius(5px);
    @include font-size(14px);
}


/*Boton Contacto*/

input[type="submit"] {
    @include padding(15px 30px);            
    @include font-size(18px);                
    background-color: $primary-color;
    color: rgb(0, 0, 0);
    border: none;
    font-weight: bold;
    @include border-radius(5px);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;     
    margin-bottom: 20px;        
    @include width(200px);                  
    display: block;                
    margin-left: auto;             
    margin-right: auto;             
}

input[type="submit"]:hover {
    background-color: #f16727;   
}
