



/*Inscribirse*/

.flechaAbajo{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.imagenFondoinscribirse{
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("https://img.freepik.com/foto-gratis/brazo-entrenamiento-culturista-banda-resistencia_7502-4758.jpg?t=st=1738713955~exp=1738717555~hmac=b7c34f9c43642bb25afe687e03892cebd43c7be964f09e8ebfa09214cb283b3f&w=740");
    position: relative;
    width: 100%;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/*tabla planes*/

.planes{
    font-weight: normal;
}

table {
    width: 100%;
    border-collapse: collapse; 
    color: #121212;
    margin-left: 20px;
    margin-right: 20px;
}

thead{
    font-size: 25px;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

table tbody tr td:nth-child(2), 
table thead th:nth-child(2) {
    border: #6a6a6a55;
}

.columnasIzquierda{
    text-align: left;
}

.filaFidelidad{
 font-size: 13px;
 color: #000000af;
 border: none; 
 
}

.precioPlan{
    margin: 0;
}



/*BOTON INSCRIBIRSE AHORA*/

.botonInscribirseahora{
    font-size: 19px;
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff6c31; 
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.botonInscribirseahora:hover {
    background-color: #bb4200;
}

