



/*Inscribirse*/

.flechaAbajo{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}




/*tabla planes*/

.planes {
    font-weight: normal;
}

.table-container {
    width: 100%;
    overflow-x: auto; /* Habilita scroll horizontal */
    -webkit-overflow-scrolling: touch; 
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #121212;
    margin: 0 auto;
    white-space: nowrap;
}

thead {
    font-size: 20px;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

.columnasIzquierda {
    text-align: left;
}

.filaFidelidad {
    font-size: 13px;
    color: #000000af;
    border: none;
}

.precioPlan {
    margin: 0;
}



/*BOTON INSCRIBIRSE AHORA*/

.botonInscribirseahora{
    font-size: 19px;
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff6c31; 
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.botonInscribirseahora:hover {
    background-color: #bb4200;
}

