



/*Inscribirse*/

.flechaAbajo{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}




/*tabla planes*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.grid-header, .grid-item {
    padding: 10px;
    border: 1px solid #ddd;
}
.grid-header {
    font-weight: bold;
    background-color: #f8f8f8;
}
.columnasIzquierda {
    text-align: left;
    font-weight: bold;
}
.precioPlan {
    font-size: 18px;
    font-weight: bold;
}
.filaFidelidad {
    color: #666;
    font-size: 14px;
}

.grid-header {
    font-weight: bold;
    background-color: #f8f8f8;
    color: #121212; /* Asegura un buen contraste */
}

.grid-item, .columnasIzquierda {
    color: #333; /* Un tono más oscuro para mejor visibilidad */
}
/*BOTON INSCRIBIRSE AHORA*/

.botonInscribirseahora{
    font-size: 19px;
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff6c31; 
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.botonInscribirseahora:hover {
    background-color: #bb4200;
}

