


@media (max-width: 500px) {
    li {
        padding: 5px;
        text-align: center;
        font-size: 15px;
        border-radius: 5px;
        border-bottom: 2px solid #ffffff;
    }

    .dentrodelFooter {
        margin-bottom: 20px;
        gap: 10px;
        margin-right: 40px;

    }

    .botonInscribirse{
        margin-bottom: 60px;
    }

    h1{
        font-size: 30px;
    }

    .videos{
        margin: 10px;               
        border-radius: 15px;
    }
    
    .flechasborrar{
        display: none
    }

    .textoInicio{
        font-size: 14px;
    }

    .primerSubtitulo{
        font-size: 28px;
    }

    iframe{
        width: 198px;
    }

    .muestrarioVideos{
        gap: 500px;
    }

    .tituloContacto{
        padding: 20px;
        padding-top: 220px;
        margin-top: 40px;
        font-size: 30px;
    }
    
    .contactanosTitulo{
        font-size: 20px;
        font-weight: bold;
    }
    
    .rellenarTexto:nth-child(1), .rellenarTexto:nth-child(2) {
        width: 100%;                  
    }
    
    .rellenarTexto:nth-child(3), .rellenarTexto:nth-child(4) {
        width: 100%;                  
    }
    
    .rellenarTexto:nth-child(5) {
        width: 100%;                 
    }

    .infoContacto{
        font-size: 16px;
    }

    input[type="submit"] {
        padding: 15px 10px;            
        font-size: 18px;                
        border-radius: 10px;
        width: 120px;                  
        display: block;                           
    }

    h3{
        margin-bottom: 10px;
        padding-left: 20px;
    }
    
    p{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 2px;
        margin-bottom: 0;
    }
  
    .carousel-container {
        background-color: #ff4800; 
        padding: 20px;
        border-radius: 30px;
        margin: 50px;
    }

      

    .planes {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 10px;
    }

    .plan {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 15px;
        background: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .plan h3 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    .beneficio {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        font-size: 16px;
    }

    .precioPlan {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
    }

    .carousel-control-prev {
        left: -80px; 
      }
      
      .carousel-control-next {
        right: -80px; 
      }
      

      
.flecha {
    width: 40px;
    height: 40px;
}

.flecha-izquierda{
    left: -5px;
}

.flecha-derecha {
    right: -10px;
}


.recuadroTienda {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    cursor: pointer;
}

.recuadroTienda img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    display: block;
}
.recuadroTienda:nth-child(-n+3) {
    display: none;
}


.contenedor-cardsTienda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 150px;
    padding: 0px 40px;
}


.cardTienda {
    width: 260px;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.separator {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    gap: 10px;  
    font-size: 14px;
    margin-top: 5px;
    font-weight: normal;
    margin-right: 15px;
}

.table-container {
    overflow-x: auto;
}

table {
    font-size: 14px;
}

th, td {
    padding: 6px;
}

td img {
    max-width: 25px; 
    height: auto;
}
.grid-container {
    display: flex;
    flex-direction: column;
}

.grid-header {
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
}

.grid-item, .columnasIzquierda, .precioPlan, .filaFidelidad {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.grid-item img {
    width: 30px;
    height: 30px;
}

}